@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400;600;800&family=JetBrains+Mono:wght@400;700&family=Noto+Serif+KR:wght@400;700;&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Noto Serif KR", serif;
}

body {
  font-family: var(--font-sans);
  background-color: #F8FAFC;
  color: #0F172A;
}

/* Hide scrollbar globally for clean minimalist design while maintaining functional scroll */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
